.nav{
  background-color: #000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: -1px;
  overflow: hidden;
}

li {
  float: left;
  border-right:1px solid #fff;
  border-radius: 8px;
  margin: 8px;
}

 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 7px;
  text-decoration: none;
  background-color: blue;
  border-radius: 8px;
  margin-left: 1em;
}

li a:hover:not(.active) {
  background-color: green;
  border-radius: 8px;
}
.fa-user-circle{
  position: absolute;
  margin-top: -1.3em;
  margin-left: 9.4em;
}
h1{
  color: #000;
  padding-top: 4px;
  text-align: center;
  font-size: 18px;
}
 a:link{
  text-decoration: none;
  color: #fff;
}
.fa-bars{
  color: white;
  margin-top: -2.9em;
}
.icon:hover{
  color: #333;
  background-color: green;
}
.icon {
  display: block;
  position: absolute;
  right: 19em;
  top: 101px;
  width: 8%;
  height: 4%;
  text-align: center;
  padding: 8px 8px 8px 8px;
}
#ham-nav {
  background-color: #333;
  overflow: hidden;
  position: absolute;
  display: none;
}

#ham-nav a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #555;
  width: 100%;
  height: 100%;
}
#ham-nav a:hover{
  background-color: #ddd;
  color:#000;
}
