@import "smartphone.css";
.container {
  position: relative;
}
.topleft {
  position: absolute;
  top: 8px;
  font-size: 15px;
  margin-left: -0.4em;
}
.topleft1 {
  top: 8px;
  font-size: 15px;
  position: absolute;
  margin-left: 3.7em;
}
.center {
  position: absolute;
  top: 2em;
  margin-left:11.5em;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.topright {
  position: absolute;
  top: 0.5em;
  font-size: 16px;
  margin-left: 12.6em;
}
h1{
  padding-top: 4px;
  text-align: center;
  font-size: 18px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-right:1px solid #fff;
  border-radius: 8px;
  margin: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: blue;
  border-radius: 8px;
}

li a:hover:not(.active) {
  background-color: green;
  border-radius: 8px;
}
img{
  width: 100%;
  height: 582px;
  background-repeat: no-repeat;
}
.About-app{
  position: absolute;
  top: 5em;
  font-size: 14px;
  background-color: #2b2d42;
  width: 100%;
  height: 132px;
  margin-bottom: 1em;
  text-align: center;
  font-family: verdana;
}
.food{
  position: absolute;
  top: 13em;
  font-size: 16px;
  background-color: #2b2d42;
  width: 100%;
  height: 89px;
  margin-bottom: 1em;
  text-align: center;
}
.button{
  padding: 12px 46px;
  color:#fff;
  background-color: #536DFE;
  border: none;
  border-radius: 8px;
  border: 4px solid;
  margin-left: 6em;
  margin-top: -27em;
  position: absolute;
}
.fa-user-circle{
  position: absolute;
  margin-top: -1.3em;
  margin-left: 9.4em;
}
