@import "smartphone.css";
.box1{
  width: 100%;
  background-color: black;
  position: absolute;
  margin-top: -16.3em;
  height: 10%;
  text-align: justify;
}
.bottom-center{
  margin-left: 2em;
}
.bottom-right{
  margin-left: 18em;
  margin-top: -4.3em;
}
.food-imge{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -12em;
}
 .img-cont{
  position: absolute;
  bottom: 35em;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 30%;
  text-align:center;
}
.food-imge1{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -12em;
  margin-left: 9em;
}

.food-imge2{
  width: 81%;
  height: 100%;
  position: absolute;
  margin-left: 18em;
  margin-top: -12em;

}
.food-imge3{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -8em;
}
.food-imge4{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -8em;
  margin-left: 9em;

}
.food-imge5{
  height:100%;
  width: 81%;
  position: absolute;
  margin-left: 18em;
  margin-top: -8em;
}
footer{
  margin-top: -3em;
  width: 83%;
  height: 11%;
  margin-left: 4.4em;
  position: relative;
  text-decoration: none;
}
span:first-child{
  color: #000;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}
span:nth-child(2){
  color: #000;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}
span:nth-child(3){
  color: #000;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;

}
span:last-child{
  color: #000;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}
