@import "smartphone.css";
@import "nav.css";

.user-card{
  height: 30%;
  width:50%;
  background-color: red;
}
.user-img{
  background-repeat: no-repeat;
  width: 100%;
  margin-left: 12.6em;
  margin-top: -6em
}
label{
  color: #fff;
  padding: 4px 4px 4px 4px;
}
.btn{
  background-color:#333;
  color:#fff;
  margin-left: 9em;
  margin-top: 1em;
}

.botnav {
  overflow: hidden;
  background-color: #333;
}

.botnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 29px;
  text-decoration: none;
  font-size: 17px;
}

.botnav a:hover {
  background-color: #ddd;
  color: #000;
}

.botnav a.active {
  background-color: #4CAF50;
  color: #fff;
}
